<tr>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= book.details %></td>
    <td>
        <button class="btn btn-primary"
            hx-get="/get-edit-form/<%= book.id %>">
            Edit Book
        </button>

        <button hx-delete="/delete/<%= book.id %>"
            class="btn btn-primary">
            Delete
        </button>
    </td>
</tr>
<script>clearForm()</script>